* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
}
.navTitle {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.navT {
  background-color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 32px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
}

.navLinks a {
  text-decoration: none;
  color: #1f1534;
  font-weight: 400;
  padding: 0 20px;
  transition: all 0.2s;
}

.navLinks a:hover {
  color: #1f1534;
  font-weight: 700;
}

.dottedlayer3 {
  position: absolute;
  left: -45px;
  top: 150px;
}

.intro {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
  padding: 0 50px;
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.introContent > h1 {
  font-size: 50px;
  max-width: 500px;
  font-weight: 700;
}

.introContent > p {
  max-width: 350px;
  color: #7d7987;
  font-size: 21px;
}

.introContent > button {
  width: 200px;
  height: 60px;
  background-color: #458ff6;
  color: white;
  border: 1px solid #458ff6;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.introContent > button:hover {
  background-color: white;
  border: #458ff6 1px solid;
  color: #458ff6;
}

.intro img {
  max-width: 600px;
  height: 500px;
}

.services {
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.vectorServices {
  position: absolute;
  left: 0;
  top: 350px;
  height: 550px;
}

.dottedlayerOne {
  position: absolute;
  right: 50px;
  top: 710px;
}

.servInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.servInfo > h1 {
  font-weight: 700;
  font-size: 50px;
}

.servInfo > span {
  width: 56px;
  font-size: 30px;
  background-color: #000;
  height: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.servInfo > p {
  color: #7d7987;
  font-weight: 300;
  max-width: 950px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
  z-index: 1;
}

.serviSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  padding: 50px;
  background-color: #fff;
  border: 0.5px solid #eee;
}

.service img {
  width: 50px;
  height: 55px;
}

.service h2 {
  font-weight: 700;
  font-size: 24px;
}

.service p {
  color: #7d7987;
}

.services > button {
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.services > button:hover {
  background-color: #458ff6;
  border: #458ff6 1px solid;
  color: #fff;
}

.health {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-top: 300px;
}

.healthContent > span {
  width: 70px;
  font-size: 30px;
  background-color: #000;
  height: 1px;
  border: 1px solid black;
  border-radius: 5px;
}

.dottedlayer2 {
  position: absolute;
  right: -40px;
  top: 3000px;
}

.healthContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.healthContent > h1 {
  font-size: 50px;
  max-width: 500px;
  font-weight: 700;
}

.healthContent > p {
  color: #7d7987;
  max-width: 450px;
  line-height: 40px;
  font-size: 21px;
}

.healthContent > button {
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.healthContent > button:hover {
  background-color: #458ff6;
  border: #458ff6 1px solid;
  color: #fff;
}

.download {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-top: 300px;
}

.downloadContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.downloadContent > span {
  width: 70px;
  font-size: 30px;
  background-color: #000;
  height: 1px;
  border: 1px solid black;
  border-radius: 5px;
}

.downloadContent > h1 {
  font-size: 50px;
  max-width: 500px;
  font-weight: 700;
}

.downloadContent > p {
  color: #7d7987;
  width: 450px;
  line-height: 40px;
  font-size: 21px;
}

.downloadContent > button {
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.5s ease-in-out;
}
.downloadContent > button:hover {
  background-color: #458ff6;
  border: #458ff6 1px solid;
  color: #fff;
}

.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #67c3f3, #5a98f2);
  border: 0px solid #5a98f2;
  border-radius: 24px;
  width: 75%;
  margin: auto;
  margin-top: 300px;
  padding: 60px;
  color: #fff;
}

.dottedlayer4 {
  position: absolute;
  left: 60px;
  top: 4250px;
}

.dottedlayer5 {
  position: absolute;
  right: -40px;
  top: 2px;
}

.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.customers > span {
  width: 70px;
  background-color: #fff;
  height: 1px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
}

.review > p {
  max-width: 355px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.arrow {
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 45px;
  cursor: pointer;
  font-weight: bold;
  color: #458ff6;
}

.arrow:hover {
  color: #81a9e0;
}

.dots {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d2e4ff;
  cursor: pointer;
  transition: 0.3s;
}

.dot:hover {
  background-color: #5b9bf3;
}

.articleSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 100px 20px;
}

.vectorArticle {
  position: absolute;
  right: -100px;
  top: 120px;
}

.dottedlayer6 {
  position: absolute;
  left: 60px;
  top: 180px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  z-index: 1;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 16px;
  width: 350px;
  height: 512px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.articleInfo {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.articleInfo h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.articleInfo p {
  font-size: 14px;
  color: #7d7987;
  line-height: 28px;
  margin: 0;
  max-width: 250px;
}

.articleInfo a {
  margin-top: auto;
  color: #4089ed;
  text-decoration: none;
  font-weight: bold;
}
.articleInfo a {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.articleInfo a > i {
  font-size: 15px;
}

.articleSection > button {
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-top: 60px;
}
.articleSection > button:hover {
  background-color: #458ff6;
  border: #458ff6 1px solid;
  color: #fff;
}

footer {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, #67c3f3, #5a98f2);
  border: 0px solid #5a98f2;
  width: 100%;
  height: 350px;
  color: #fff;
  padding: 5px;
  overflow-y: hidden;
}

.dottedlayer7 {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 65px;
}

.dottedlayer8 {
  position: absolute;
  top: -35px;
  right: 250px;
}

.footerTitleSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.footerTitleSection p {
  max-width: 391px;
}

.footerTitle {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.footerT {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #458ff6;
  width: 41px;
  height: 41px;
  font-size: 26px;
  font-weight: 700;
}

.footerLinks {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.footerLinks > a {
  text-decoration: none;
  color: #fff;
}
